/*Navbar style*/

.navigation{
	padding-top: 20px;
	padding-left: 20px;
}

.nav ul{
	list-style-type: none;
	background-color: #004b98
    margin: 0;
    overflow: hidden;
}


.nav ul li {
	float: left;
	display: block;
	margin: 0;
	/*padding: 14px 14px;*/ 
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}


.nav ul li:hover{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	background-color: #e0e0e0;

}

.active{
	color:#e0e0e0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	border-left: 8px solid #e0e0e0;
	border-bottom: 8px solid #e0e0e0;
}