
html, body {
  width:  100%;
  height: 100%;
  margin: 0px;

}

body {
	padding-left: 20px;
	padding-right: 20px;
}

/*Navbar style*/
.navigation{
	padding-top: 10px;
	/*padding-left: 20px;*/
}

ul{
	list-style-type: none;
	background-color: #004b98
    margin: 0;
    padding:0;
    overflow: hidden;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.nav li a:hover{
	background-color: #efefef;
}


.nav li.active{
	color:#e0e0e0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	border-left: 8px solid #e0e0e0;
	border-bottom: 8px solid #e0e0e0;
}

/* Style for canvas*/
.bodyContent{
	margin-top: 20px;
	/*margin-bottom: 0px;*/
	margin-left: 10px
	margin-right:10px;
	padding-right: 20px;
}

.test{
display: inline-block;
  height: 50px; /*sets height of element*/
  background: red; /*sets the background of this element (here a solid colour)*/
  transition: all 0.6s; /*sets a transition (for hover effect)*/
  padding-left: 20px; /*sets 'padding'*/
  padding-right: 20px; /*sets 'padding'*/
  line-height: 50px; /*for this, it sets vertical alignment*/
}


/* ----------------- Info boxes --------------------*/
/*Home*/

#textBox2,
#textBox3,
#textBox4{
	display:none;
}

#textBox1{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	position: absolute;
    float: right;
    background-color:#efefef; 
    width: 450px;
    height:180px ;
    border: 4px solid #aaaaaa;
    padding: 10px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;

    top: 130px;
    left: 50px;
}

/*Education*/
#textBox2{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	position: absolute;
	float: right;
    background-color:#efefef; 
    width: 500px;
    height: 150px ;
    border: 4px solid #aaaaaa;
    padding: 10px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    top: 20%;
    left: 30%;
}

/*skills*/
#textBox3{
	line-height: 0.8;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	position: absolute;
	float: right;
    background-color:#efefef; 
    width: 500px;
    height: 180px ;
    border: 4px solid #aaaaaa;
    padding: 10px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    top: 20%;
    left: 30%;
    overflow: scroll;
}

/* Experience */
#textBox4{
	line-height: 0.8;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	position: absolute;
	float: right;
    background-color:#efefef; 
    width: 500px;
    height: 180px ;
    border: 4px solid #aaaaaa;
    padding: 10px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    top: 20%;
    left: 30%;
    overflow: scroll;
}
.title{
	text-align: center;
	color: #7f7f7f;
}

/* Experience */
#exp{
	line-height: 1;
	text-align: center;
}

#exp ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

#exp li{
  	/*float: left;*/
  	display:inline-block;
  	margin: 10px;
  	text-align: center;
  	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px;
  	padding-top: 10px;
  	padding-right: 5px;
  	padding-left: 5px;
  	padding-bottom: 5px;
  	height: 40px;
    border: 1px solid #aaaaaa;
    background-color: white;
}

#exp li:hover{
	cursor:pointer;
	transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#work{
	align-content: center;
	/*text-align: center;*/
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}


#scrollDown{
	text-align: center;
	font-size: 36px;
}

/* --------------------- Work div -----------------------------*/
/* --------------------- Company title ------------------------*/
#company {
	
    font-size: 34px;
	text-align: center;
	/*opacity: 0.7;*/
	margin-top: 50px;
	margin-bottom: 20px;
}

#logo {
	text-align: center;
	margin-bottom: 100px;
}


#description{
	font-size: 16px;
	text-align: center;
	margin-bottom: 40px;
	padding-left: 60px;
	padding-right: 60px;

}

/* Panel for experience info*/
#panel{
	align-content: center;
	/*background-color: #b999fc;*/
	margin-top: 10px;
	margin-bottom: 100px;
	background: linear-gradient(to right, transparent, rgb(185,153,252), transparent 98%);
				/*linear-gradient(to left, rgb(185,153,252), transparent 25%)	;*/
	 			/*linear-gradient(336deg, rgba(185,153,252,0), rgba(185,153,252,1) 25%);*/
	/*background-image: linear-gradient(to left, rgba(185,153,252,0), rgba(185,153,252,1) );*/
}

#panel ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
 }


#panel li{
  	/*float: left;*/
    font-size: 20px;
  	text-align: center;
  	display:inline-block;
  	margin: 20px;
  	/*color: #494949;*/
}


/*----------------- Photo carousel ----------------------*/
.carousel {
	/*align-content: center;*/
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 18%;
	width:800px;
}

#project{
	text-align: center;
	align-content: center;
}
#project img{
	width:70%;
	height: 70%;
}

/*----------------- Tech used ----------------------*/

#expTitles{
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

#tech ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
 }


#tech li{
  	/*float: left;*/
    font-size: 20px;
  	text-align: center;
  	display:inline-block;
  	margin: 60px;
  	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px;
	/*border: 1px solid #aaaaaa;*/
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}

/* Extra resources for projects*/
.extras li a {
    text-decoration: none;
}
.extras li:hover{

	background-color: #efefef;
	cursor:pointer;
	transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#exp a{
	color:black;
	text-decoration: none;
}

/* Have the work info on hidden until button is pressed*/
#work #bee,
#work #icert,
#work #lbnl,
#work #cs4hs,
#work #athon,
#work #donealo{
	display:none;
}


/* ------------------------Footer--------------------*/

footer {
	text-align: center;
	background-color: #efefef;
	/*position: absolute;*/
	bottom:0;
	left: 0;
	width: 100%;
	
	/*height:100%;*/
}

.contact{
	
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-left: 20px;
	padding-bottom: 40px;
	padding-top: 15px;
	background-color: #efefef;
}

.contact > *{
	float: left;
	text-align: center;
}

.social img{
	margin-left: 15px;
	max-width: 100%;
    height: auto;

}

.social{
	text-align: center;
	align-content: center;
}

.social > *{
	text-align: center;
	float: left;
	margin-right: 10px;
	margin-left: 5px;
	padding-left: 10px;
	width: 40px;
    min-height: 30px;
    max-height: auto;
    /*overflow: hidden;*/
}

.name{
	margin-right: 50px;
	/*padding-right:20px; */
}

.name a{
	color:black;
	text-decoration: none;

}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}




