/*Navbar style*/

.navigation{
	padding-top: 20px;
	padding-left: 20px;
}

ul{
	list-style-type: none;
	background-color: #004b98
    margin: 0;
    padding:0;
    overflow: hidden;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.nav li a:hover{
	background-color: #efefef;
}


.nav li.active{
	color:#e0e0e0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	border-left: 8px solid #e0e0e0;
	border-bottom: 8px solid #e0e0e0;
}

.bodyContent{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px
	margin-right:10px;
	padding-right: 15px;
}

.test{
display: inline-block;
  height: 50px; /*sets height of element*/
  background: red; /*sets the background of this element (here a solid colour)*/
  transition: all 0.6s; /*sets a transition (for hover effect)*/
  padding-left: 20px; /*sets 'padding'*/
  padding-right: 20px; /*sets 'padding'*/
  line-height: 50px; /*for this, it sets vertical alignment*/
}



/* Body Style*/
/* Canvas style*/
.bodyCanvas{
	border: solid 1px black
    width: 100%;
}

#canvas {
    /*position:absolute;*/
    border: solid 1px black
    width: 100%;
}

#textBox1{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	position: absolute;
    float: right;
    background-color:#efefef; 
    width: 450px;
    height:150px ;
    border: 4px solid #aaaaaa;
    padding: 10px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;

    top: 130px;
    left: 50px;
}

#textBox2{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	position: absolute;
	float: right;
    background-color:#efefef; 
    width: 500px;
    height: 150px ;
    border: 4px solid #aaaaaa;
    padding: 10px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    top: 130px;
    left: 725px;
}

#textBox3{
	line-height: 0.8;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px; 
	border-bottom-left-radius: 6px;
	position: absolute;
	float: right;
    background-color:#efefef; 
    width: 500px;
    height: 150px ;
    border: 4px solid #aaaaaa;
    padding: 10px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    top: 130px;
    left: 725px;
    overflow: scroll;
}

.title{
	text-align: center;
	color: #a5a5a5;
}
