<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Grace Rodriguez's Website</title>
  <meta name="description" content="Web Portafolio">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- <script src="js/scripts.js"></script> -->
  <!-- <div>
      <ul class="nav">
        <li><a class="active">Home</a></li>
        <li><a>Eduaction</a></li>
        <li><a>Skills</a></li>
        <li><a>Projects</a></li>
        <li><a>Blog</a></li>        
      </ul>
  </div>
   -->
<script >
     $(document).ready(function () {
        $('.nav a').click(function () {
            //removing the previous selected menu state
            $('.nav').find('li.active').removeClass('active');
            //adding the state for this parent menu
            $(this).parents("li").addClass('active');

        });
    });
</script>

<div class="navigation">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#home" style="color:black">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#education" style="color:black">Education</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#skills" style="color:black">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#experience" style="color:black">Experience</a>
  </li>
</ul>
<div>

<div class="bodyContent">
  <svg width="100%" height="550"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
    <!-- <rect x="0" y="00" width="100%" height="100%" stroke="black" fill="transparent" stroke-width="2"/> -->
    <defs>
      <pattern patternUnits="userSpaceOnUse" id="space" x="0" y="0" width="888" height="483">
        <image xlink:href="../static/img/space_background.png" x="0" y="0" width="888" height="483" />
      </pattern>
    </defs>
      <rect x="0" y="0" width="100%" height="88%" stroke="black" stroke-width="2" fill="url(#space)" />
    <image xlink:href="../static/img/spaceship.svg" x="10" y="10" width="199" height="178" />

  </svg>

</div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>