<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Grace Rodriguez's Website</title>
  <meta name="description" content="Web Portafolio">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<script>
  //variable App either returns the attributes if it's ready or an empty object
  var App = window.App || {};
  // var link = "#home";

  //For a cleaner code, all of the functions and variables for the canvas can be added
  //to one object
  App.myCanvas =  function(){
    var moveLeft = 0,
        moveRight = 0,
        keyStatus = {},
        canvas,
        ctx;
        // links = "#home";

        // console.log("Links 1", links)
      /*Timing and main loop */
      var currentState = history.state
      // console.log("Curr: ",currentState)
      prevLinkBool = false;

      var startTime = 0;
      var lastTime = 0;
      var elapsed = 0, totalElapsed = 0;
      var newLink = [];



      var selector, elems, makeActive;

      selector = '.nav li';

      elems = document.querySelectorAll(selector);

      window.requestAnimFrame = (function() {
      return window.requestAnimationFrame ||
             window.webkitRequestAnimationFrame ||
             window.mozRequestAnimationFrame ||
             window.oRequestAnimationFrame ||
             window.msRequestAnimationFrame ||
             function(/* function FrameRequestCallback */ callback, /* DOMElement Element */ element) {
               window.setTimeout(callback, 1000/60);
             };
    })();
    init = function(){
      this.initParams();
      start();

    },
    
    start = function() {
      // stuff from below
      console.log("starting...");

      canvas = document.getElementById('canvas');

      ctx = canvas.getContext('2d');
      initParams();
      initKeys(canvas);

      drawAll();

      onTick();
      boxEffect();

      
    },

    initParams = function(){
      params = {
        'x0': 0,
        'y0': 0,
        'fixedDisplacement': 20, // 20 pix/s
        'angleStep': 15, // 15 deg for each keyPress
        // For Mode 1
        'fixedVelocity': 200, // 20 pix/s
        'fixedAcceleration': 0.1 // 0.1 pix/s velocity if accelerate for 1s
      }
    }
    initKeys = function(canvas){
        // Make sure the canvas can receive the key events
        canvas.setAttribute('tabindex','0');
        canvas.focus();

        // Register the keyDown and keyUp events
        canvas.addEventListener( "keydown", onKeyDown, true);
        canvas.addEventListener( "keyup", onKeyUp, true);
         canvas.addEventListener( "boxeffect", boxEffect, true);
         
         for (var i = 0; i < elems.length; i++)
            elems[i].addEventListener('mousedown', makeActive);

    },
    isKeyDown = function(keyCode){
        return keyStatus[keyCode]
    },
    //Callbacks for discrete key events
    onKeyDown= function(event){
    
      console.log(event);
      
      event.preventDefault();
      keyStatus[event.keyCode] = true;
    }, 
    onKeyUp = function(event){
      // Put your code here
      //When the keys stop being pressed, delete the elements in keyStatus
      delete keyStatus[event.keyCode]
    },
    
    //Activate new nav item 
    makeActive = function () {
        // event.preventDefault();
      links = $(event.target).attr('href');
      window.history.pushState('','',links)

    for (var i = 0; i < elems.length; i++)
        elems[i].classList.remove('active');

      this.classList.add('active');
    },

    updateTime = function(){
      var timeNow = new Date().getTime() / 1000; // All expressed in seconds
      if (lastTime != 0) {
        elapsed = timeNow - lastTime;
      } else {
        startTime = timeNow;
      }
      lastTime = timeNow;
      totalElapsed = timeNow - startTime;
    },

    boxEffect = function(links){
      
      // console.log("L: ",links)

      box1 = document.getElementById("textBox1")

      if (links == "#home" || links == undefined){   
        box1.style.display = "block";
      }else{
        box1.style.display = "none";
      }
      
    },

    // Timer callback for animations
    onTick = function(){
        // 
          updateTime()
          animate();
          drawAll();
        
        requestAnimFrame(onTick);
    },
    animate = function(){
        params.vx = 0;
        params.vy = 0;
        // console.log("here")
        // console.log("links: ", links)
        //React to arrow right
        if(isKeyDown(39)){
          console.log("x0: ",params.x0,"y0: ",params.y0)
          params.x0 += (params.fixedVelocity*elapsed)
           // $.fn.gotof();

        }
        //React to arrow left
        else if(isKeyDown(37)){
          console.log("x0: ",params.x0,"y0: ",params.y0)
          //At least we can access links through here
          if ((links== "#home" || links == undefined) && params.x0 < 1){
             params.x0 -=0
          }
          else{
            params.x0 -= (params.fixedVelocity*elapsed)
          }
        }
        //Space bar pressing - use for testing
        if(isKeyDown(32)){
          prevLinkBool = true;
          console.log("M1: ",prevLinkBool)
          // changeUrlHash(32);

        }

        if(params.x0 > canvas.width ){
          links = "#education"


          params.x0 = 0;
          console.log("Test", links)

        }else if (params.x0 < -170){
            params.x0 = 0;
        }
    },

    drawShip = function(ctx){
      // ship = document.getElementById('ship');

      ctx.translate(params.x0,params.y0);

      ctx.drawImage(ship,0,350, 170,100);

    },

    drawAll = function(){
      //Reset before clearing the canvas
      ctx.setTransform(1,0,0,1,0,0);
      ctx.clearRect(0,0,canvas.width,canvas.height);
      // space = document.getElementById('background');
      space = document.getElementById('background');
      ship = document.getElementById('ship');
      //Draw the background image of space
      // ctx.drawImage(space,0,0,888,483);

      var pattern = ctx.createPattern(space,'repeat-x');
      ctx.rect(0, 0, canvas.width, canvas.height);
      ctx.fillStyle = pattern;
      ctx.fill();

      drawShip(ctx);

    }

    //Init the canvas
    init();
  };

//all of the json script goes here

  $(function(){
    App.myCanvas();
    // var $navigationItem = $('.nav a'),
    //     $navigationItemActive = $('li.activate');
    //     links = '#home';

    // //activate function when navbar items are pressed
    // $navigationItem.on('click',function (event) {
    //     var $item = $(this)

    //     event.preventDefault();
    //     links = $(event.target).attr('href');
    //     window.history.pushState('','',links)
        //highlightItem($item);
        // console.log(ev.target)
        
        //push the href to the end of the link
        //console.log("Link 0: ", links)
      
    // });

    // function highlightItem($item){        
    //     window.history.pushState('','',links)
    //     //removing the previous selected menu state
    //     $('.nav').find('li.active').removeClass('active');
    //     //adding the state for this parent menu
    //     $item.parents("li").addClass('active');
    // }

  });

    
  </script>

<body ">

<div class="navigation">
<ul class="nav">
  <li id="home" class="active">
    <a href="#home">Home</a>
  </li>
  <li>
    <a href="#education">Education</a>
  </li>
  <li>
    <a href="#skills">Skills</a>
  </li>
  <li>
    <a href="#experience">Experience</a>
  </li>
</ul>
<div>

<div class="bodyContent" onload="start();">
  <div style="display:none;">
    <img id="background" src="../static/img/space_background.png" > 
    <img id="ship"  src="../static/img/spaceship.svg"> 
  </div>
  <tb>
    <!-- Gotta edit canvas dimensions -->
    <canvas id="canvas" width="1240" height="480" class:"bodyCanvas" ></canvas>
  </tb>
  <div onclick="boxEffect()" id="textBox1" class="inTextBox" style=stat>
    <p>Move the ship left by pressing &#8592; and move right by pressing &#8594;</p>
  </div> 

<!-- 
  <svg width="100%" height="550"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">

    <defs>
      <pattern patternUnits="userSpaceOnUse" id="space" x="0" y="0" width="888" height="483">
        <image xlink:href="../static/img/space_background.png" x="0" y="0" width="888" height="483" />
      </pattern>
    </defs>

      <rect x="0" y="0" width="100%" height="88%" stroke="black" stroke-width="2" fill="url(#space)" />
    <image id="spaceship" xlink:href="../static/img/spaceship.svg" x="10" y="10" width="199" height="178" />

  </svg> -->

</div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>